.sider {
	padding: 30px 20px 30px 28px;
	border: 3px solid #7666F6;

	.sider__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 40px;
	}

	.sider-menu {
		background: #38615F;
		color: #FFF;
	}
}

.site-layout .nav-header {
	display: flex;
	align-items: flex-end;
	padding: 0px 7px;
	height: 62px;
	line-height: 30px;
	border-bottom: 1px solid #DFDFDF;
}

.content {
	padding: 10px 7px;

}